/* http://getbootstrap.com/customize/?id=7cfb049a904c3804b7c1 */

body {
    font-family: "Open Sans", Arial;
}

p#post_date {
    color:#999;
}

h2#post_title {
    margin-top:1.9em; 
    font-weight: bold;
}

div#post_body {
    margin-top:2em; 
    margin-bottom:5em;
}

div#blog_footer {
    margin-top:3em; 
    margin-bottom:3em;
}

pre {
    padding: 14px;
    font-size: 14px;
}


/* 3d lines */
div.container {
    padding-top: 23px;
}
#canvas{
    width:100%;
    height:100px;
    overflow: hidden;
    position:absolute;
    top:0;
    left:0;
    background-color: #1a1724;               
}
.canvas-wrap{
    position:relative;
    
}
div.canvas-content{
    position:relative;
    z-index:2000;
}