/* http://getbootstrap.com/customize/?id=4be39ead1a12e6642c31 */

body {
    padding-top:2em;
    font-family: "Open Sans", Arial;
}

p#blog_about {
    margin-bottom:2em;
}

h2#post_title {
    margin-top:1em; 
    font-weight: bold;
}

div#post_body {
    margin-top:2em; 
    margin-bottom:2em;
}

div#blog_footer {
    margin-top:3em; 
    margin-bottom:3em;
}