/* http://getbootstrap.com/customize/?id=080afb673ae4fc6f1abf */

/* Header */
div#header {
    position: relative;
    height: 3.5em;
}

div#header_content {
    position: absolute;
    text-align: left;
    text-shadow: -1px 1px 0.2px #eee;
    width: 100%;
    bottom: 0px;
}

div#header_bar {
    height: 0.1em;
}

/* Body */
p#post_date {
    color:#999;
}

h2#post_title {
    margin-top:1.2em; 
    font-weight: bold;
    text-shadow: -3px 3px 0.5px #ddd;
}

div#post_body {
    margin-top:2em; 
    margin-bottom:5em;
}


/* Footer */
div#blog_footer {
    margin-top:3em; 
    margin-bottom:3em;
}

pre {
    background-color: #F3F3F3;
    border: 0;
    margin: 16px;
    font-size: 14px;
}
