@font-face { 
    font-family: "Roboto Thin"; src: url(Roboto-Thin.ttf) format("truetype");
}

@font-face { 
    font-family: "Roboto Regular"; src: url(Roboto-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Roboto Mono"; src: url(RobotoMono-Regular.ttf) format("truetype");
}


article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, input, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0px;
    padding: 0px;
    border: 0px none;
    color: #333;
    font-style: inherit;
    font-size: inherit;
    line-height: inherit;
    font-size-adjust: inherit;
    font-stretch: inherit;
    font-feature-settings: inherit;
    font-language-override: inherit;
    font-kerning: inherit;
    font-synthesis: inherit;
    font-variant: inherit;
    font-family: 'Roboto Regular', sans-serif;
    font-weight: 400;
    outline: medium none;
    vertical-align: baseline;
    border-radius: 0px;
} 

body {
  background-color: #fefefe;
  color: #333;
  overflow-x: hidden;
  font-size: 1em;
  line-height: 1.44em;
}


:link { color: #0015FF; text-decoration: none; }
:visited { color: #0015FF; }
:hover { color: #0015FF; text-decoration: underline; }

p {
    margin-bottom: 20px;
    text-align: left;
}

.container {
    max-width: 760px;
    margin: 0px auto;
    padding: 0px 20px;
}

header .container {
    padding-top: 30px;
    padding-bottom: 20px;
    position: relative;
}
              
header .site-nav {
    position: absolute;
    right: 20px;
    bottom: 28px;
}

ol, ul .site-nav {
    list-style: outside none none;
}

.site-nav li {
    display: inline-block;
    padding-left: 35px;
}

path {
    stroke-width: 2;
    stroke: #000;
    fill: #000;
}

:hover path {
    stroke-dasharray: 10, 5;
    stroke-dashoffset: 300;
    stroke-width: 2;
    fill: #0ff;
    transition: stroke-dashoffset 2s ease-out, fill 1s ease-out;
}

nav :link { color: #0015ff; text-decoration: none; }
nav :visited { color: #0015ff; text-decoration: none; }
nav :hover { color: #0015ff; text-decoration: none; border-bottom: solid #3055ff; }

div#header_bar {
    height: 10px;
}



dl.archive {
  width: 100%;
}
dl.archive dt {
  float: left;
  clear: left;
  width: 100px;
  text-align: right;
  width: 33%;
  padding: 0 1em 1em;
}
dl.archive dd {
  padding: 0 0 1em;
}

.page_body ul, .page_body ol {
    list-style: outside;
    padding-left: 5%;
}

pre {
  font-family: "Roboto Mono", monospace;
  background-color: #F1F1F1;
  margin: 20px 10px 20px 10px;
  padding: 10px;
  overflow: auto;
  width: auto;
}

code {
  font-family: "Roboto Mono", monospace;
  background-color: #F1F1F1;
  overflow: auto;
  width: auto;
  padding: 3px;
}



p#post_date {
    margin-top: 1em;
    font-size: 1.25em;
    font-family: 'Roboto Thin', sans-serif;
}

h2#post_title {
    margin-top: 1em;
    line-height: 1em;
    font-weight: bold;
    font-size: 2.5em;
}

.page_body {
    margin-top: 2em; 
    margin-bottom: 5em;
}


footer {
    margin-top: 3em; 
    margin-bottom: 3em;
}






@media screen and (max-width: 760px) {
  header .container {
    margin-top: 10px;
    height: auto;
    padding: 10px 10px 20px;
  }
  header h1 { 
    float: none;
    margin: 0 auto;
    width: 140px;
    text-align: center;
  }
  header svg {
    transform: scale(0.8);
  }
  header .site-nav {
    position: static;
  }
  header .site-nav {
    width: 100%;
    text-align: center;
  }
  header .site-nav ul {
    padding: 10px 0 0;
  }
  header .site-nav li {
    padding: 0 5px;
  }
  header .site-nav a {
    font-size: 18px;
    line-height: 18px;
  }
  dl.archive dt {
    margin-left: 10%;
    float: none;
    clear: none;
    text-align: left;
    width: 100%;
    padding: 0;
  }
  dl.archive dd {
    margin-left: 10%;
    padding: 0 0 1em;
  }
}
