article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, input, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0px;
    padding: 0px;
    border: 0px none;
    color: #111;
    font-style: inherit;
    font-size: inherit;
    line-height: inherit;
    font-size-adjust: inherit;
    font-stretch: inherit;
    font-feature-settings: inherit;
    font-language-override: inherit;
    font-kerning: inherit;
    font-synthesis: inherit;
    font-variant: inherit;
    font-family: sans-serif;
    font-weight: 400;
    outline: medium none;
    vertical-align: baseline;
    border-radius: 0px;
} 

body {
  background-color: #fff;
  overflow-x: hidden;
  font-size: 1em;
  line-height: 1.44em;
}


:link { color: #FF4B21; text-decoration: none; font-weight: 500; }
:visited { color: #A80815; text-decoration: none; font-weight: 500; }
:hover { 
  color: #FF4B21; 
  text-decoration: none; 
  border-bottom: solid #FF4B21;
  transition-property: border-bottom;
  transition-duration: 0.1s;
  transition-delay: 0.05s;
  transition-timing-function: ease-in-out;
  font-weight: 500;
}

p {
    margin-bottom: 20px;
    text-align: left;
}

.container {
    max-width: 760px;
    margin: 0px auto;
    padding: 0px 20px 0px 20px;
}

header {
    background-color: #2d2d2d;
}


header .container {
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
}
 
header .site-nav {
    position: absolute;
    right: 25px;
    bottom: 37px;
}

ol, ul .site-nav {
    list-style: outside none none;
}

.site-nav li {
    display: inline-block;
    padding-left: 35px;
}

header :link { color: #FFFD82; text-decoration: none; font-weight: 400; }
header :visited { color: #FFFD82; text-decoration: none; font-weight: 400; }
nav :hover { 
  color: #FFFD82; 
  text-decoration: none; 
  border-bottom: solid #FFFD82;
  transition-property: border-bottom;
  transition-duration: 0.1s;
  transition-delay: 0.1s;
  transition-timing-function: ease-in-out;
  font-weight: 400;
}


header .logo {}
header .logo :link { text-decoration: none; }
header .logo :visited { text-decoration: none; }
header .logo :hover { text-decoration: none; border-width: 0px;}


dl.archive {
  width: 100%;
}
dl.archive dt {
  float: left;
  clear: left;
  width: 100px;
  text-align: right;
  width: 33%;
  padding: 0 1em 1em;
}
dl.archive dd {
  padding: 0 0 1em;
}

.page_body ul, .page_body ol {
    list-style: outside;
    padding-left: 5%;
}

pre {
  font-family: monospace;
  background-color: #efefef;
  margin: 20px 10px 20px 10px;
  padding: 10px;
  overflow: auto;
  width: auto;
  font-size: 1.1em;
}

code {
    font-weight: 700;
    font-family: monospace;
}

h2#post_title {
    margin-top: 1.2em;
    line-height: 1em;
    font-weight: bold;
    font-size: 2em;
}

p#post_date {
    color: #777;
    margin-top: 1em;
}

.page_body {
    margin-top: 2em; 
    margin-bottom: 5em;
}


footer {
    margin-top: 3em; 
    margin-bottom: 3em;
}






@media screen and (max-width: 760px) {
  header .container {
    margin-top: 0px;
    height: auto;
    padding: 17px 10px 15px;
  }
  header h1 { 
    float: none;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 5px;
  }
  header .site-nav {
    position: static;
  }
  header .site-nav {
    width: 100%;
    text-align: center;
  }
  header .site-nav ul {
    padding: 10px 0 0;
  }
  header .site-nav li {
    padding: 0 5px;
  }
  header .site-nav a {
    font-size: 18px;
    line-height: 18px;
  }
  dl.archive dt {
    margin-left: 10%;
    float: none;
    clear: none;
    text-align: left;
    width: 100%;
    padding: 0;
  }
  dl.archive dd {
    margin-left: 10%;
    padding: 0 0 1em;
  }
}
