<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Vitaliy Pavlenko" />
   <link href="http://vitalius.github.com/atom.xml" rel="alternate" title="Vitaliy Pavlenko" type="application/atom+xml" />

   <!-- google fonts -->
   <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
 
   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />

   <!-- Rainbow source code stuff -->
   <link rel="stylesheet" href="/css/source-code-github-style.css" type="text/css" />
   <script src="/js/rainbow-custom.min.js" type="text/javascript"></script>

   <!-- MathJax -->
   <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      tex2jax: {
        inlineMath: [ ['$','$'], ["\\(","\\)"] ],
        displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
        processEscapes: true
      }
    });
   </script>
   <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

</head>
<body>

<div class="site">
  <div class="title">
    <a href="/">Віталій Павленко</a>
    <a class="extra" href="/">home</a> 
    <a class="extra" href="https://github.com/vitalius">github</a>
    <a class="extra" href="/atom.xml">rss</a>
  </div>
  
  {{ content }}
  
  <div class="footer">
    <div class="contact">
      <p>
        Vitaliy Pavlenko<br />
        vitaliy@cloudmotion.com<br />
        <a href="http://twitter.com/vitaliy_ai">twitter.com/vitaliy_ai</a><br />
        <a href="https://github.com/vitalius">github.com/vitalius</a><br />
      </p>
    </div>

    <!---
    <div class="rss">
      <a href="/atom.xml">
        <img src="/images/" alt="Subscribe to RSS Feed" />
      </a>
    </div>
    --->
  </div>
</div>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-35379573-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</body>
</html>
